
<div class="container">
  <h1 class="course-header">Open the gates</h1>
  
  <section class="course-content">
  <ol>
    <li>
      <p>Subject lines are the single most important thing to focus on when creating an email. Because if that doesn't get read then nothing that you spent tons of time creating inside the actual email will get read. Here's some examples.</p>
      <pre><code>$ cd ~/Desktop/sample_app</code></pre>
    </li>
    
    <li>
      <p>We're going to start a little server so we can see the application in a browser</p>
      <pre><code>$ rails server</code></pre>
    </li>

    <li>
      <p>This command should show you:</p>

<pre>
=> Booting WEBrick
=> Rails 4.0.0 application starting in development on http://0.0.0.0:3000
=> Run `rails server -h` for more startup options
=> Ctrl-C to shutdown server
[2013-08-01 16:37:03] INFO  WEBrick 1.3.1
[2013-08-01 16:37:03] INFO  ruby 2.0.0 (2013-05-14) [x86_64-darwin12.4.0]
[2013-08-01 16:37:03] INFO  WEBrick::HTTPServer#start: pid=12109 port=3000
</pre>

    </li>

    <li>
      <p>Open up your browser and visit <a target="_blank" href="http://localhost:3000">http://localhost:3000</a></p>
    </li>

  </ol>

 <p>You should see your new web app!</p>

 <hr>
		<div class="row">
      <div class="col-sm-6 note">
            PRO TIP: <br>Whenever you run <pre><code>$ rails server</pre></code> ...you'll no longer be able to type anything in that command line window (because that window is now busy running your site). <br><br>Leaving us with two options: <br>1) When you're coding: let this window run the server, and open another command line window to write new commands<br>2) When you're finished: close the server by hitting '<strong>Control + C</strong>' and give yourself a pat on the back for being awesome.
      </div>
    <div class="col-sm-6">
   </div>
	</div>
</section>

<div class="container cta-wrapper">
      <a class="button button-blue button-large" href="/"> Use StartupFormulas free for 2 months - it's on us</a>
</div>

<section class="prompt center">
  <%= link_to "Next Step", root_path %>
</section>
